/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  font-family: 'Noto Sans', sans-serif;
  font-size: 62.5%;
}

img{
  display: block;
  margin: 0 auto;
}

ul{
  padding: 0;
}

li{
  list-style: none;
}

.weather-box{
  text-align: center;
}

.weather-box h3{
  font-size: 1rem;
}

.temp-box{
  margin-top: 4rem; 
}

.temperature{
  display: flex;
  justify-content: center;
}

.temperature h1{
  font-size: 4rem;
  font-weight: 400;
  margin: 0;
}

.temperature span{
  font-size: 1rem;
  font-weight: 900;
  margin-top: .7rem;
}

.temp-unit span{
  font-size: 1rem;
}

.weather-data{
  background: rgba(189, 207, 219, 0.448);
  border-radius: 1rem;
  margin: 3rem auto;
  width: 80%;
}

.weather-data ul{
  display: grid;
  grid-template: auto / 1fr 1fr;
  padding: 1.5rem;
  text-align: left;
  row-gap: .5rem;
}

.weather-data li{
  color: rgba(79, 79, 79, 0.812);
  font-size: .8rem;
  line-height: 1.4;
}

.weather-data li span{
  color: rgb(46, 46, 46);
  font-size: 1rem;
  display: block;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
