/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  font-family: 'Noto Sans', sans-serif;
  font-size: 62.5%;
}

img{
  display: block;
  margin: 0 auto;
}

ul{
  padding: 0;
}

li{
  list-style: none;
}

.weather-box{
  text-align: center;
}

.weather-box h1{
  font-size: 8rem;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
